.card {
    width: 260px;
    height: 390px;
    border: 1px solid white;
    margin: 10px;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    position: relative;
}

.photo {
    border-radius: 8px;
    width: 260px;
    height: 144px;
}

.details {
    color: slategray;
    font-size: 14px;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    color: slategray;
    font-size: 16px;
    position: absolute;
    bottom: 70px;
   
}

.card-item{
    display: flex;
    align-items: center; 
    gap: 10px;
}

.card-item img{
    width: 24px;
    height: 24px;
   
}

.card-btn {
    width: 260px;
    height: 40px;
    color: white;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    background: #2F80ED;
    position: absolute;
    bottom: 20px;
    font-size: 18px;
}

.card-container{
    width: 900px;
    margin: 0 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}

.home-container{
    display: flex;
    width: 1300px;
    gap: 20px;
    padding-bottom: 30px;
}

.cart{
    width: 400px;
}

/* small device  */
@media screen and (max-width:576px){
    .card-container{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .home-container{
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
    }
    .cart{
        width: auto;
    }
    
}
/* mediam device */
@media screen and (min-width:576px) and (max-width:992px){
    .card-container{
        width: 600px;
        margin: 0 25px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }
    .home-container{
        display: flex;
        width: 900px;
    }
    .cart{
        width: 300px;
    }

}